[Unit]
Description=MongoDB Cluster Router Server
Documentation=https://docs.mongodb.org/manual
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/transwarp-mongodb/mongo_mongos.sh start
Type=forking

[Install]
WantedBy=multi-user.target
